<h1>
    This is a Test chat module based on MERN!!!
</h1>
<hr />
<h2>Go to chat list</h2>
<a href="/chats/list">ChatLIST</a>
<div id="error-container"></div>
<input id="msgBy" type="text" name="msgBy" placeholder="Enter your name!">
<button class="btn btn-primary" type="button" name="button" onclick="setMsgBy()">
    Join to chat!
</button>